.inp1{width: 200px;height: 20px;}
ul{margin: 0; padding: 0;}
ul li{ list-style: none; }
.list-grp-item{ width: 200px;height: 30px; border: 1px solid #ededed; display:block; margin: 10px;padding:0 10px;line-height: 30px;}

