<!DOCTYPE html>
    <html>
        <head>
            <title>todoList</title>
            <meta charset="utf-8">
            <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
            <link rel="stylesheet" href="css/todoList.css">
        </head>
        <body  ng-app="todoList" ng-controller="TaskCtrl">
            <div>
                <input ng-model="task" class="inp1">
                <button ng-click="add()">提交</button>
            </div>
            <h1>任务列表</h1>
            <ul>
                <li ng-repeat="item in tasks track by $index" class="list-grp-item">{{item}}</li>
                
            </ul>

        </body>
        <script>
            angular.module('todoList',[])
            .controller('TaskCtrl',function($scope){
                $scope.task="";
                $scope.tasks=[];
                $scope.add=function(){
                    $scope.tasks.push($scope.task)
                }
            })
            
        </script>
    </html>
</html>