<!DOCTYPE <html>
    <html>
        <head>
            <meta charset="utf-8">
            <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
            <style>
                ul li{list-style: none;
               }
            </style>
        </head>
        <body ng-app="myApp" ng-controller="myCtrl">
            <div>
                <input type="text" ng-model="task">
                <button ng-click="add()">提交</button>   
                <h2>任务列表</h2>
                <ul>
                    <li ng-repeat="item in tasks" >{{item}}</li>
                
                </ul> 
                
            </div>
            <script>
                var vm=angular.module("myApp",[]);
                    vm.controller("myCtrl",function($scope){
                        var sc=$scope;
                        sc.task="";
                        sc.tasks=[];
                        sc.add=function(){
                            sc.tasks.push(sc.task)
                        }

                    })
            </script>
        </body>
    </html>    
</html>>
